In [6]:
'''
SERIES :

Series() is a function present in the Pandas library 
that creates a one-dimensional array and can hold any type of objects or data in it.

'''

'\nSERIES :\n\nSeries() is a function present in the Pandas library \nthat creates a one-dimensional array and can hold any type of objects or data in it.\n\n'

In [8]:
import numpy as np
import pandas as pd

### 1.	Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module

In [5]:
# creating an series with ARRAY

data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

# creating a series with dict

d = {'asma' : 158, 'parveen' : 159}
s = pd.Series(d)
print(d)

# creating series with scalar values

s = (1,2,3,4,5)
indexx = list('abcde')

d = pd.Series(s, index = indexx)
print(d)

0    a
1    b
2    c
3    d
dtype: object
{'asma': 158, 'parveen': 159}
a    1
b    2
c    3
d    4
e    5
dtype: int64

### 2.	Write a pandas program to convert a pandas module series to python list.

In [15]:
a = np.array([1,2,3,4,5]) 
s = pd.Series(a,index = list('abcde'))
print(s)
print(type(s),'\n')

# converting into a list

ToList = s.tolist()
print(ToList)
print(type(ToList))

a    1
b    2
c    3
d    4
e    5
dtype: int32
<class 'pandas.core.series.Series'>

[1, 2, 3, 4, 5]
<class 'list'>

### 3.	Write a pandas program to add, subtract, multiple and divide two pandas series.

In [16]:
# Mathematical operations on Series

''' 
The values with same indices are added otherwise return NaN
'''
s1= pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'])
s2 = pd.Series([10,20,-10,-50,100],index = ['z', 'y', 'a', 'c', 'e'])

# Addition of two Series
print("The series are: ",s1,s2)
print(s1+s2)
print("------\n")
print(s1.add(s2,fill_value = 0)) 
print(s1.subtract(s2,fill_value = 0))
print(s1.multiply(s2,fill_value = 0))
print(s1.div(s2,fill_value = 0))

The series are:  a    1
b    2
c    3
d    4
e    5
dtype: int64 z     10
y     20
a    -10
c    -50
e    100
dtype: int64
a     -9.0
b      NaN
c    -47.0
d      NaN
e    105.0
y      NaN
z      NaN
dtype: float64
------

a     -9.0
b      2.0
c    -47.0
d      4.0
e    105.0
y     20.0
z     10.0
dtype: float64
a    11.0
b     2.0
c    53.0
d     4.0
e   -95.0
y   -20.0
z   -10.0
dtype: float64
a    -10.0
b      0.0
c   -150.0
d      0.0
e    500.0
y      0.0
z      0.0
dtype: float64
a   -0.10
b     inf
c   -0.06
d     inf
e    0.05
y    0.00
z    0.00
dtype: float64

### 4.	Write a Pandas program to convert all the string values to upper, lower cases in a given pandas series. Also find the length of the string values.

In [26]:

indexx = list('abcd')

a = pd.Series(['aSma','parvEen','nourIn','omarie'],dtype="string")
print(a)

print("-------\n")
print(a.str.upper())
print(a.str.lower())
print(a.str.len())

print("-------\n")

0       aSma
1    parvEen
2     nourIn
3     omarie
dtype: string
-------

0       ASMA
1    PARVEEN
2     NOURIN
3     OMARIE
dtype: string
0       asma
1    parveen
2     nourin
3     omarie
dtype: string
0    4
1    7
2    6
3    6
dtype: Int64
-------

### 5.	Write a Pandas program to remove whitespaces, left sided whitespaces and right sided whitespaces of the string values of a given pandas series

In [27]:

idx=pd.Index(["  jack","jill   ","jesse   ","   frank"])
print(idx)
print(idx.str.rstrip())
print("-----")
print(idx.str.lstrip())
print("\n\n")
idx=pd.Index(["  jack  ","  jill   ","jesse","  frank"])
print(idx)
print(idx.str.strip())

Index(['  jack', 'jill   ', 'jesse   ', '   frank'], dtype='object')
Index(['  jack', 'jill', 'jesse', '   frank'], dtype='object')
-----
Index(['jack', 'jill   ', 'jesse   ', 'frank'], dtype='object')



Index(['  jack  ', '  jill   ', 'jesse', '  frank'], dtype='object')
Index(['jack', 'jill', 'jesse', 'frank'], dtype='object')

### 6.	Write a Pandas program to create and display a DataFrame consist of student name, father name , mobile number as columns and register number as index.

### 7.	Write a Pandas program to get list from DataFrame column headers.

### 8.	Write a Pandas program to change the name of the student.

### 9.	Write a Pandas program to insert a new column “grade” in existing DataFrame

### 10 .  Write a pandas program to create and display a dataframe from a specified dictionary data which has the index labels.

### PYTHON DATAFRAME BASICS

### 1. How to create a Dataframe
•	Creating a DataFrame from a list of lists

•	Creating a DataFrame from a dict of lists:

•	Creating an index DataFrame from a dict of lists:

•	Creating a DataFrame from a list of dicts

•	Creating a DataFrame from a list of dicts and specifying the row indices.

•	Creating a DataFrame from a list of dicts and specifying both the row indices and the column indices

•	Creating a DataFrame from a list of tuples:

•	Creating a DataFrame using the zip() function:

•	Creating an empty DataFrame

In [60]:
# from list

a = [1,2,3,4,5]
d = pd.DataFrame(a,columns = ["Numbers"])
print(d)
print('\n------\n')

# from list of lists

a = [['asma',11],['parveen',12],['nouri',10]]
d = pd.DataFrame(a,columns = ["Name","Age"])  # we can also specify index = [...]
print(d)
print('\n------\n')

# index data frame from dict of lists

a = ['asma','parveen','norin','omarie']
age = [11,12,13,14]

a = {'NAME': name,'AGE':age}
d = pd.DataFrame(a,index = list('abcd'))
print(d)
print('\n------\n')

# from list of dict

a = [{'NAME': 'asma','AGE': 10},{'NAME':'parvi','AGE':11}]
d = pd.DataFrame(a)
print(d)
print('\n-----\n')

# specifying row indices and column indices

a = [{'NAME': 'asma','AGE': 10},{'NAME':'parvi','AGE':11}]
d = pd.DataFrame(a,index = ["first_row","second_row"])
print(d)
print("\n------\n")
# from list of tuples

# data in the form of list of tuples
data = [('Peter', 18, 7),
        ('Riff', 15, 6),
        ('John', 17, 8),
        ('Michel', 18, 7),
        ('Sheli', 17, 5) ]
 
# create DataFrame using data
df = pd.DataFrame(data, columns =['Name', 'Age', 'Score'])
 
print(df)

   Numbers
0        1
1        2
2        3
3        4
4        5

------

      Name  Age
0     asma   11
1  parveen   12
2    nouri   10

------

      NAME  AGE
a     asma   11
b  parveen   12
c    norin   13
d   omarie   14

------

    NAME  AGE
0   asma   10
1  parvi   11

-----

             NAME  AGE
first_row    asma   10
second_row  parvi   11

------

     Name  Age  Score
0   Peter   18      7
1    Riff   15      6
2    John   17      8
3  Michel   18      7
4   Sheli   17      5